<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/choose.css">
    <script defer src="../js/choose.js"></script>
    <title>Choose seat</title>
</head>
<body>
    <header class="header">
        <div class="header_box">
            <div class="header_content">
                <a href="../views/cinemaSelection.html">
                    <img src="../storage/flecha.svg" alt="go back">
                </a>
                <h1>Seleccion de asiento</h1>
                <a href="">
                    <img src="../storage/dots.svg" alt="dots">
                </a>
            </div>
        </div>
    </header>
    <section class="screen">
        <div class="screen_base">
            <div class="screen_full">
                <img src="../storage/screen.svg" alt="screen">
                <p>Pantalla de este lado</p>
            </div>
        </div>
    </section>
    <section class="boxes">
        <div class="boxes_base">
            <div class="boxes_left">
                <h1>A</h1>
            </div>
            <div class="boxes_content">
                <div class="boxes_seats"></div>
                <div class="boxes_seats"></div>
                <div class="boxes_seats"></div>
                <div class="boxes_seats"></div>
                <div class="boxes_seats"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="boxes2">
        <div class="boxes2_base">
            <div class="boxes2_left">
                <h1>B</h1>
            </div>
            <div class="boxes2_content">
                <div class="boxes2_seats"></div>
                <div class="boxes2_seats"></div>
                <div class="boxes2_seats"></div>
                <div class="boxes2_seats"></div>
                <div class="boxes2_seats"></div>
                <div class="boxes2_seats"></div>
                <div class="boxes2_seats"></div>
            </div>
        </div>
    </section>
    <section class="boxes3">
        <div class="boxes3_base">
            <div class="boxes3_left">
                <h1>C</h1>
            </div>
            <div class="boxes3_content">
                <div class="boxes3_seats"></div>
                <div class="boxes3_seats"></div>
                <div class="boxes3_seats"></div>
                <div class="boxes3_seats"></div>
                <div class="boxes3_seats"></div>
                <div class="boxes3_seats"></div>
                <div class="boxes3_seats"></div>
                <div class="boxes3_seats"></div>
                <div class="boxes3_seats"></div>
            </div>
        </div>
    </section>
    <section class="boxes4">
        <div class="boxes4_base">
            <div class="boxes4_left">
                <h1>D</h1>
            </div>
            <div class="boxes4_content">
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
            </div>
        </div>
    </section>
    <section class="boxes4">
        <div class="boxes4_base">
            <div class="boxes4_left">
                <h1>E</h1>
            </div>
            <div class="boxes4_content">
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
            </div>
        </div>
    </section>
    <section class="boxes4">
        <div class="boxes4_base">
            <div class="boxes4_left">
                <h1>F</h1>
            </div>
            <div class="boxes4_content">
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
            </div>
        </div>
    </section>
    <section class="details">
        <div class="details_box">
            <div class="details_eachOne">
                <div class="color"></div>
                <div>Disponible</div>
            </div>
            <div class="details_eachOne">
                <div class="color2"></div>
                <div>Reservado</div>
            </div>
            <div class="details_eachOne2">
                <div class="color3"></div>
                <div>Elegido</div>
            </div>
            <div class="details_eachOne2">
                <div class="color4"></div>
                <div>Ocupado</div>
            </div>
        </div>
    </section>
    <section class="box">
        <div class="box_base">
            <div class="box_eachOne">
                <h1>Fri</h1>
                <h2>17</h2>
            </div>
            <div class="box_eachOne">
                <h1>Fri</h1>
                <h2>17</h2>
            </div>
            <div class="box_eachOne">
                <h1>Fri</h1>
                <h2>17</h2>
            </div>
            <div class="box_eachOne">
                <h1>Fri</h1>
                <h2>17</h2>
            </div>
            <div class="box_eachOne">
                <h1>Fri</h1>
                <h2>17</h2>
            </div>
            <div class="box_eachOne">
                <h1>Fri</h1>
                <h2>17</h2>
            </div>
            <div class="box_eachOne">
                <h1>Fri</h1>
                <h2>17</h2>
            </div>
        </div>
    </section>
    <section class="box2">
        <div class="box2_base">
            <div class="box2_eachOne">
                <h1>13:00</h1>
                <h2>$5.25 •3D</h2>
            </div>
            <div class="box2_eachOne">
                <h1>13:00</h1>
                <h2>$5.25 •3D</h2>
            </div>
            <div class="box2_eachOne">
                <h1>13:00</h1>
                <h2>$5.25 •3D</h2>
            </div>
            <div class="box2_eachOne">
                <h1>13:00</h1>
                <h2>$5.25 •3D</h2>
            </div>
            <div class="box2_eachOne">
                <h1>13:00</h1>
                <h2>$5.25 •3D</h2>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer_box">
            <div class="footer_left">
                <h1>Precio</h1>
                <h2>$24.99</h2>
            </div>
            <div class="footer_right">
                <div class="footer_right">
                    <button disabled>Comprar Ticket</button>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>