<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/choose.css">
    <title>Choose seat</title>
</head>
<body>
    <header class="header">
        <div class="header_box">
            <div class="header_content">
                <a href="../views/movieHome.html">
                    <img src="../storage/flecha.svg" alt="go back">
                </a>
                <h1>Cinema Selection</h1>
                <a href="">
                    <img src="../storage/dots.svg" alt="dots">
                </a>
            </div>
        </div>
    </header>
    <section class="screen">
        <div class="screen_base">
            <div class="screen_full">
                <img src="../storage/screen.svg" alt="screen">
                <p>Screen This Way</p>
            </div>
        </div>
    </section>
    <section class="boxes">
        <div class="boxes_base">
            <div class="boxes content">
                
            </div>
        </div>
    </section>
</body>
</html>