<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/choose.css">
    <title>Choose seat</title>
</head>
<body>
    <header class="header">
        <div class="header_box">
            <div class="header_content">
                <a href="../views/movieHome.html">
                    <img src="../storage/flecha.svg" alt="go back">
                </a>
                <h1>Cinema Selection</h1>
                <a href="">
                    <img src="../storage/dots.svg" alt="dots">
                </a>
            </div>
        </div>
    </header>
    <section class="screen">
        <div class="screen_base">
            <div class="screen_full">
                <img src="../storage/screen.svg" alt="screen">
                <p>Screen This Way</p>
            </div>
        </div>
    </section>
    <section class="boxes">
        <div class="boxes_base">
            <div class="boxes_left">
                <h1>A</h1>
            </div>
            <div class="boxes_content">
                <div class="boxes_seats"></div>
                <div class="boxes_seats"></div>
                <div class="boxes_seats"></div>
                <div class="boxes_seats"></div>
                <div class="boxes_seats"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="boxes2">
        <div class="boxes2_base">
            <div class="boxes2_left">
                <h1>B</h1>
            </div>
            <div class="boxes2_content">
                <div class="boxes2_seats"></div>
                <div class="boxes2_seats"></div>
                <div class="boxes2_seats"></div>
                <div class="boxes2_seats"></div>
                <div class="boxes2_seats"></div>
                <div class="boxes2_seats"></div>
                <div class="boxes2_seats"></div>
            </div>
        </div>
    </section>
    <section class="boxes3">
        <div class="boxes3_base">
            <div class="boxes3_left">
                <h1>C</h1>
            </div>
            <div class="boxes3_content">
                <div class="boxes3_seats"></div>
                <div class="boxes3_seats"></div>
                <div class="boxes3_seats"></div>
                <div class="boxes3_seats"></div>
                <div class="boxes3_seats"></div>
                <div class="boxes3_seats"></div>
                <div class="boxes3_seats"></div>
                <div class="boxes3_seats"></div>
                <div class="boxes3_seats"></div>
            </div>
        </div>
    </section>
    <section class="boxes4">
        <div class="boxes4_base">
            <div class="boxes4_left">
                <h1>D</h1>
            </div>
            <div class="boxes4_content">
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
            </div>
        </div>
    </section>
    <section class="boxes4">
        <div class="boxes4_base">
            <div class="boxes4_left">
                <h1>E</h1>
            </div>
            <div class="boxes4_content">
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
            </div>
        </div>
    </section>
    <section class="boxes4">
        <div class="boxes4_base">
            <div class="boxes4_left">
                <h1>F</h1>
            </div>
            <div class="boxes4_content">
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
                <div class="boxes4_seats"></div>
            </div>
        </div>
    </section>
</body>
</html>