
            <div class="second_box_right">
                <button id="myButton"><span class="button_icon">▶</span> Ver Trailer</button>
            </div>
        </div>
    </section>
    <section class="third-box">
        <div class="third_box_content">
            <p>El Gato con Botas descubre que su pasión por la aventura le ha pasado factura: ha consumido ocho de sus nueve vidas, por ello emprende un viaje épico para encontrar el mítico Último Deseo y restaurar sus nueve vidas.</p>
        </div>
    </section>
    <section class="box">
        <div class="boxt_title">
            <h1>Reparto</h1>
        </div>
    </section>
    <section class="actors">
        <div class="actors_box">
            <div class="actors_main">
                <div class="actors_img">
                    <img src="https://i.pinimg.com/736x/81/79/07/8179072c8cc0c6fdb4bd40eee3a42efd.jpg" alt="actor">
                </div>
                <div class="actors_content">
                    <h1>Jacob Batalon</h1>
                    <p>Paxton</p>
                </div>
            </div>
            <div class="actors_main">
                <div class="actors_img">
                    <img src="https://i.pinimg.com/564x/b3/a0/10/b3a010251cb193b09ed401f5ea1a2189.jpg" alt="actor">
                </div>
                <div class="actors_content">
                    <h1>Larsen Thompson</h1>
                    <p>Elise</p>
                </div>
            </div>
            <div class="actors_main">
                <div class="actors_img">
                    <img src="https://i.pinimg.com/736x/17/42/ae/1742aec994abd8698b8d3497e3322dd4.jpg" alt="actor">
                </div>
                <div class="actors_content">
                    <h1>Brian Tyree Henry</h1>
                    <p>Bernie Hayes</p>
                </div>
            </div>
        </div>
    </section>
    <section class="box2">
        <div class="box2_title">
            <h1>Cinema</h1>
        </div>
    </section>
    <section class="box_cinema">
        <a class="box_a">
            <div class="box_base">
                <div class="box_left">
                    <h1>CineCampus</h1>
                    <p>Zona Franca, Floridablanca</p>
                </div>
                <div class="box_right">
                    <img src="../storage/cineCampus.png" alt="campus">
                </div>
            </div>
        </a>
    </section>
    <footer class="footer">
        <div class="footer_button">
            <button>Comprar Ahora</button>
        </div>
    </footer>
</body>
</html>