<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cinema.css">
    <script defer src="../js/selection.js"></script>
    <title>Cinema Selection</title>
</head>
<body>
    <header class="header">
        <div class="header_box">
            <div class="header_content">
                <a href="../views/movieHome.html">
                    <img src="../storage/flecha.svg" alt="go back">
                </a>
                <h1>Cinema Selection</h1>
                <a href="">
                    <img src="../storage/dots.svg" alt="dots">
                </a>
            </div>
        </div>
    </header>
    <section class="first_box">
        <div class="first_box_movie">
            <img src="../storage/puss in boots 2.jpg" alt="movie">
        </div>
    </section>
    <section class="second_box">
        <div class="second_box_content">
            <div class="second_box_left">
                <h1>Puss in boots the last wish</h1>
                <p>Action, Adventure</p>
            </div>
            <div class="second_box_right">
                <button id="myButton"><span class="button_icon">▶</span> Watch trailer</button>
            </div>
        </div>
    </section>
</body>
</html>