<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <div class="header">
        <img src="../storage/412525cf56df0460c61df8bd92e0ee82.jpg" alt="Profile Picture">
        <div class="header-text">
            <h1>Hi, Mike!</h1>
            <p>Let's watch a movie!</p>
        </div>
        <div class="notification-icon"><img src="../storage/system-regular-46-notification-bell.png" alt="notification"></div>
    </div>
    <input type="text" class="search-bar" placeholder="Search movie!!">
    <div class="now-playing">
        <div class="now-playing">
            <div class="now-playing-header">
                <h2>Now playing</h2>
                <a href="#">See all</a>
            </div>
            <div class="movies-container">
                <div class="movie-card">
                    <img src="../storage/3cc7393ac7d30545208615e3b5277520.jpg" alt="A Quiet Place: Day One">
                    <div class="movie-info">
                        <h3>Intensamente 2</h3>
                        <span>Animación / Aventura</span>
                    </div>
                </div>
                <div class="movie-card">
                    <img src="movie-poster2.jpg" alt="Movie 2">
                    <div class="movie-info">
                        <h3>Movie Title 2</h3>
                        <span>Genre 2</span>
                    </div>
                </div>
                <div class="movie-card">
                    <img src="movie-poster3.jpg" alt="Movie 3">
                    <div class="movie-info">
                        <h3>Movie Title 3</h3>
                        <span>Genre 3</span>
                    </div>
                </div>
                <!-- Puedes agregar más tarjetas de películas aquí -->
            </div>
    </div>
    <div class="bottom-nav">
        <div class="nav-item">
            <img src="../storage/home-icon.png" alt="Home">
            <span>Home</span>
        </div>
        <div class="nav-item">
            <img src="../storage/browse-icon.png" alt="Browse">
            <span>Browse</span>
        </div>
        <div class="nav-item">
            <img src="../storage/tickets-icon.png" alt="Tickets">
            <span>Tickets</span>
        </div>
        <div class="nav-item">
            <img src="../storage/profile-icon.png" alt="Profile">
            <span>Profile</span>
        </div>
    </div>
    
</body>
</html>
