<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <header class="header">
        <section class="header_section">
            <div class="header_perfil">
                <img src="../storage/user.jpg" alt="icono">
            </div>
            <div class="header_content">
                <div class="header_content_p">
                    <p>Hi, Jack!!</p>
                </div>
                <div class="header_content_h2">
                    <h2>Let's watch movie together!</h2>
                </div>
            </div>
            <div class="header_noti">
                <img src="../storage/noti.svg" alt="noti">
            </div>
        </section>
    </header>
    <section class="search">
        <div class="search_bus">
            <div class="search_wrapper">
                <img src="../storage/search.svg" alt="Search" class="search_icon">
                <input class="search_input" type="text" placeholder="Search movie, cinema, genre...">
            </div>
        </div>
    </section>
    <section class="section">
        <div class="section_title">
            <h1>Now Playing</h1>
            <h2>See All</h2>
        </div>
    </section>
</body>
</html>
