<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/orden.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Resumen de Orden</title>
</head>
<body>
    <header class="header">
        <div class="header_box">
            <div class="header_content">
                <a href="../views/choose.html">
                    <img src="../storage/flecha.svg" alt="go back">
                </a>
                <h1>Order Summary</h1>
                <a href="">
                    <img src="../storage/dots.svg" alt="dots">
                </a>
            </div>
        </div>
        <div class="header_container">
            <div class="content">
                <div class="content_img">
                    <img src="https://i.pinimg.com/736x/bb/e4/ae/bbe4ae5e0280bc64d304e639f8265951.jpg" alt="img">
                </div>
                <div class="content_text">
                    <div class="content_up">
                        <h1>Puss In Boots The Last Wish</h1>
                        <p>Adventure</p>
                    </div>
                    <div class="content_down">
                        <h1>HARTONO MALL</h1>
                        <p>Sun, 12 Feb 2024. 13:00</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="box1">
        <div class="box1_base">
            <h1>ORDER NUMBER :</h1>
            <p>123456786</p>
        </div>
    </section>
    <section class="box2">
        <div class="box2_base">
            <h1>1 Ticket</h1>
            <h2>C5</h2>
        </div>
    </section>
    <section class="box3">
        <div class="box3_base">
            <h1>REGULAR SEAT</h1>
            <h2>$24,99 x 3</h2>
        </div>
    </section>
    <section class="box4">
        <div class="box4_base">
            <h1>SERVICE FEE</h1>
            <h2>$1,99 x 1</h2>
        </div>
    </section>
    <section class="payment">
        <div class="payment_base">
            <h1>Payment method</h1>
        </div>
    </section>
    <section class="card">
        <div class="card_box">
            <div class="card_img">
                <img src="https://i.pinimg.com/564x/63/dd/d9/63ddd963a635a1cfe4e06ee149a8bbf9.jpg" alt="img">
            </div>
            <div class="card_content">
                <h1>Mastercard</h1>
                <p>**** **** 0998 7865</p>
            </div>
            <div class="card_active">
                <div class="card_circle"></div>
            </div>
        </div>
    </section>
</body>
</html>