<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/search.css">
    <link rel="icon" href="../storage/icono.svg" type="image/x-icon">
    <title>Search</title>
</head>
<body>
    <header class="header">
        <section class="header_section">
            <div class="header_perfil">
                <img id="user-avatar" src="../storage/profile.jpg" alt="icono">
            </div>
            <div class="header_content">
                <div class="header_content_p">
                    <p id="user-greeting">Hola, Jack!!</p>
                </div>
                <div class="header_content_h2">
                    <h2>Vamos a ver una Película!</h2>
                </div>
            </div>
            <div class="header_noti">
                <a href="../views/movieHome.html">
                    <img src="../storage/noti.svg" alt="noti">
                </a>
            </div>
        </section>
    </header>
    <section class="search">
        <div class="search_bus">
            <div class="search_wrapper">
                <img src="../storage/search.svg" alt="Search" class="search_icon">
                <input class="search_input" type="text" placeholder="Search movie, cinema, genre...">
            </div>
        </div>
    </section>
    <section class="box">
        <div class="box_card">
            <div class="box_img">
                <img src="https://i.pinimg.com/564x/b7/2e/87/b72e87cf45c1ee343ec21616537bac89.jpg" alt="img">
            </div>
            <div class="box_content">
                <h1>Mi villano favorito 4</h1>
                <p>Animacion</p>
                <p>Chris Renaud</p>
                <p>30/08/24</p>
                <p>1h 40m</p>
            </div>
        </div>
        <div class="box_card">
            <div class="box_img">
                <img src="https://i.pinimg.com/564x/b7/2e/87/b72e87cf45c1ee343ec21616537bac89.jpg" alt="img">
            </div>
            <div class="box_content">
                <h1>Mi villano favorito 4</h1>
                <p>Animacion</p>
                <p>Chris Renaud</p>
                <p>30/08/24</p>
                <p>1h 40m</p>
            </div>
        </div>
        <div class="box_card">
            <div class="box_img">
                <img src="https://i.pinimg.com/564x/b7/2e/87/b72e87cf45c1ee343ec21616537bac89.jpg" alt="img">
            </div>
            <div class="box_content">
                <h1>Mi villano favorito 4</h1>
                <p>Animacion</p>
                <p>Chris Renaud</p>
                <p>30/08/24</p>
                <p>1h 40m</p>
            </div>
        </div>
        <div class="box_card">
            <div class="box_slide">
                <div class="box_img">
                    <img src="https://i.pinimg.com/564x/b7/2e/87/b72e87cf45c1ee343ec21616537bac89.jpg" alt="img">
                </div>
                <div class="box_content">
                    <h1>Mi villano favorito 4</h1>
                    <p>Animacion</p>
                    <p>Chris Renaud</p>
                    <p>30/08/24</p>
                    <p>1h 40m</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>