<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/ticket.css">
    <link rel="icon" href="../storage/icono.svg" type="image/x-icon">
    <title>Ticket</title>
</head>
<body>
    <header class="header">
        <div class="header_box">
            <div class="header_content">
                <a href="../views/movieHome.html">
                    <img src="../storage/flecha.svg" alt="go back">
                </a>
                <h1>Ticket</h1>
                <a href="">
                    <img src="../storage/dots.svg" alt="dots">
                </a>
            </div>
        </div>
    </header>
    <section class="card">
        <div class="card_box">
            <div class="card_img">
                <img src="../storage/horizontal.jpg" alt="img">
            </div>
            <div class="card_title">
                <h1>Astronaut</h1>
                <p>Show this ticket at the entrance</p>
            </div>
            <div class="card_content">
                <div class="card_left">
                    <h1>Cinema</h1>
                    <h2>Cine Campus</h2>
                </div>
                <div class="card_right">
                    <img src="../storage/cineCampus.png" alt="">
                </div>
            </div>
            <div class="card_boxes">
                <div class="card_date">
                    <h1>Date</h1>
                    <h2>Sun, Feb 12th 2024</h2>
                </div>
                <div class="card_time">
                    <h1>Time</h1>
                    <h2>13:00</h2>
                </div>
            </div>
            <div class="card_boxes1">
                <div class="card_cinema">
                    <h1>Cinema Hall #</h1>
                    <h2>Sala Nebula</h2>
                </div>
                <div class="card_seat">
                    <h1>Seat</h1>
                    <h2>C5</h2>
                </div>
            </div>
            <div class="card_boxes2">
                <div class="card_cost">
                    <h1>Cost</h1>
                    <h2>$26.99</h2>
                </div>
                <div class="card_order">
                    <h1>Order ID</h1>
                    <h2>12345678</h2>
                </div>
            </div>
            <div class="line">
                <img src="../storage/Line.svg" alt="line">
            </div>
            <div class="barras">
                <img src="../storage/barras.png" alt="barras">
            </div>
        </div>
    </section>
</body>
</html>