*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /* position: fixed; */
    top: 0;
    left: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: white;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    /* border: 1px solid green; */
    flex-direction: row;
    width: 100vw;
    height: 6vh;
    margin-top: 3%;
    justify-content: center;
    align-items: center;
}

.header_box{
    display: flex;
    /* border: 1px solid blue; */
    flex-direction: row;
    width: 86vw;
    height: 6vh;    
}

.header_content{
    display: flex;
    /* border: 1px solid red; */
    width: 86vw;
    height: 6vh;
    justify-content: space-between;
    align-items: center;
}

.header_content img{
    display: flex;
    /* border: 1px solid rgb(255, 230, 0); */
    width: 7vw;
    height: 6vh;
}

.header_content a{
    text-decoration: none;
}

.header_content h1{
    display: flex;
    /* border: 1px solid rgb(0, 255, 128); */
    font-size: 120%;
} 

.screen{
    display: flex;
    flex-direction: row;
    /* border: 1px solid green; */
    margin-top: 3%;
    width: 100vw;
    height: 8vh;
    justify-content: center;
    align-items: center;
}

.screen_base{
    display: flex;
    /* border: 1px solid red; */
    width: 86vw;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.screen_full{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    width: 86vw;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.screen_full p{
    margin-top: -4%;
    font-size: 90%;
}

.boxes{
    display: flex;
    flex-direction: row;
    margin-top: 9%;
    /* border: 1px solid orangered; */
    width: 100vw;
    height: 3.5vh;
    justify-content: center;
    align-items: center;
}

.boxes_base{
    display: flex;
    /* border: 1px solid white; */
    width: 90vw;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.boxes_left{
    display: flex;
    /* border: 1px solid yellow; */
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    font-size: 60%;
}

.boxes_content{
    display: flex;
    /* border: 1px solid blue; */
    width: auto;
    height: 100%;
    align-items: center;
    margin-right: 24%;
    gap: 7px;
}

.boxes_seats{
    display: flex;
    /* border: 1px solid pink; */
    width: 7.5vw;
    height: 100%;
    background: #323232;
    border-radius: 7px;
}


.boxes2{
    display: flex;
    flex-direction: row;
    margin-top: 2.5%;
    /* border: 1px solid orangered; */
    width: 100vw;
    height: 3.5vh;
    justify-content: center;
    align-items: center;
}

.boxes2_base{
    display: flex;
    /* border: 1px solid white; */
    width: 90vw;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.boxes2_left{
    display: flex;
    /* border: 1px solid yellow; */
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    font-size: 60%;
}

.boxes2_content{
    display: flex;
    /* border: 1px solid blue; */
    width: auto;
    height: 100%;
    align-items: center;
    margin-right: 13.6%;
    gap: 7px;
}

.boxes2_seats{
    display: flex;
    /* border: 1px solid pink; */
    width: 7.5vw;
    height: 100%;
    background: #323232;
    border-radius: 7px;
}

.boxes3{
    display: flex;
    flex-direction: row;
    margin-top: 12%;
    /* border: 1px solid orangered; */
    width: 100vw;
    height: 3.5vh;
    justify-content: center;
    align-items: center;
}

.boxes3_base{
    display: flex;
    /* border: 1px solid white; */
    width: 90vw;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.boxes3_left{
    display: flex;
    /* border: 1px solid yellow; */
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    font-size: 60%;
}

.boxes3_content{
    display: flex;
    /* border: 1px solid blue; */
    width: auto;
    height: 100%;
    align-items: center;
    margin-right: 3%;
    gap: 7px;
}

.boxes3_seats{
    display: flex;
    /* border: 1px solid pink; */
    width: 7.5vw;
    height: 100%;
    background: #323232;
    border-radius: 7px;
}

.boxes4{
    display: flex;
    flex-direction: row;
    margin-top: 2.5%;
    /* border: 1px solid orangered; */
    width: 100vw;
    height: 3.5vh;
    justify-content: center;
    align-items: center;
}

.boxes4_base{
    display: flex;
    /* border: 1px solid white; */
    width: 90vw;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.boxes4_left{
    display: flex;
    /* border: 1px solid yellow; */
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    font-size: 60%;
}

.boxes4_content{
    display: flex;
    /* border: 1px solid blue; */
    width: auto;
    height: 100%;
    align-items: center;
    margin-right: 3%;
    gap: 7px;
}

.boxes4_seats{
    display: flex;
    /* border: 1px solid pink; */
    width: 7.5vw;
    height: 100%;
    background: #323232;
    border-radius: 7px;
}

.details{
    display: flex;
    /* border: 1px solid red; */
    margin-top: 7%;
    width: 100vw;
    height: 5vh;
    justify-content: center;
    align-items: center;
}

.details_box{
    display: flex;
    /* border: 1px solid white; */
    width: 89vw;
    height: 100%;
    align-items: center;
    gap: 0%;
}

.details_eachOne{
    display: flex;
    /* border: 1px solid blue; */
    width: 24vw;
    height: 80%;
    justify-content: center;
    align-items: center;
    gap: 5%;
    font-size: 80%;
}

.color{
    display: flex;
    /* border: 1px solid red; */
    width: 3vw;
    height: 1.3vh;
    border-radius: 100%;
    background: #323232;
}

.details_eachOne2{
    display: flex;
    /* border: 1px solid blue; */
    width: 20vw;
    height: 80%;
    justify-content: center;
    align-items: center;
    gap: 5%;
    font-size: 80%;
}


.color2{
    display: flex;
    /* border: 1px solid red; */
    width: 3vw;
    height: 1.3vh;
    border-radius: 100%;
    background: #C3C3C3;
}

.color3{
    display: flex;
    /* border: 1px solid red; */
    width: 3vw;
    height: 1.3vh;
    border-radius: 100%;
    background: #ff0000;
}

.color4{
    display: flex;
    /* border: 1px solid red; */
    width: 3vw;
    height: 1.3vh;
    border-radius: 100%;
    background: #ff8c2e;
}