body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: white;
    width: 100vw;
    height: 100vh;
}

.header{
    display: flex;
    border: 1px solid green;
    margin-top: 12px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 8vh;

}

.header_section{
    display: flex;
    border: 1px solid white;
    margin: 12px 0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 85vw;
    height: 8vh;
}

.header_perfil{
    display: flex;
    width: 16vw;
    height: 7vh;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    background-color: black;
}

.header_perfil img{
    display: flex;
    width: 100%;
    height: 100%;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

.header_content{
    display: flex;
    flex-direction: column;
    /* border: 1px solid yellow; */
    width:55vw;
    height: 5vh;
    font-size: 10px;
    align-items: center;
    justify-content: space-around;
}

.header_content_p{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    /* border: 1px solid red; */
    align-items: center;
    font-size: 130%;
}

.header_content_h2{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    /* border: 1px solid red; */
    align-items: center;
}

.header_noti{
    display: flex;
    padding: 1.5%; 
    border: 1px solid rgb(128, 127, 127);
    width: 5.5vw;
    height: 3vh;
    border-radius: 17%;
}

.header_noti img{
    display: flex;
    width: 100%;
    height: 100%;
}

.section{
    display: flex;
    width: 100vw;
    border: 1px solid yellow;
}